.atw-add-player-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.atw-add-player-list__item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    justify-content: flex-start;
    height: 48px;
}

.atw-add-player-list__initials {
    font-family: var(--font-mono);
    font-weight: 700;
    width: 32px;
}
